* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body {  
    background-color: #8696d1 ;
}

header {
    background: rgb(236, 227, 227);
    padding: 20px;

}

header > h1 {
    color: #40e2da;
    text-align: center;
    font-family: sans-serif;

}
#action-message {
    text-align: center;
}

.score-board {
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    color: rgb(24, 22, 22);
    font-size: 46px;
    padding: 15px 20px;
    position: relative;
}

.badge {
    background: #40e2da;
    color: rgb(24, 21, 21);
    font-size: 14px;
    padding: 2px 10px;
    font-family: sans-serif;
}

#user-label{
    position: absolute;
    top: 30px;
    left: -25px;

}

#computer-label{
    position: absolute;
    top: 30px;
    right: -25px;

}

.result {
    font-size: 40px;
    color: #40e2da;

}

.result > p {
    text-align: center;
    font-weight: bold;
    font-family:sans-serif;
}
img {
    
    width: 90px;
}
.choices {
    margin: 50px 0;
    text-align: center;

}
.choice {
    border: 4px solid rgb(255, 255, 255);
    border-radius: 50%;
    padding: 10px;
    margin: 0px 20px;
    display: inline-block;

}


















